<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MeruScrapping/src/com/tsm/meru/scrapping/HttpJSONClientMazd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tsm.meru.scrapping.HttpJSONClientMazd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MeruScrapping"/>
</launchConfiguration>
